<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2011 The rSmart Group
  ~
  ~ The contents of this file are subject to the Mozilla Public License
  ~ Version 1.1 (the "License"); you may not use this file except in
  ~ compliance with the License. You may obtain a copy of the License at
  ~ http://www.mozilla.org/MPL/
  ~
  ~ Software distributed under the License is distributed on an "AS IS"
  ~ basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing rights and limitations
  ~ under the License.
  ~
  ~ Contributor(s): duffy
  -->

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="true">
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename"><value>com.rsmart.oauth.provider.Messages</value></property>
    </bean>

    <bean id="localeResolver" class="com.rsmart.sakai.common.web.springframework.SakaiLocaleResolver"/>

    <bean  id="providerService" class="com.rsmart.oauth.provider.tool.impl.OauthProviderServiceImpl">
        <property name="OAuthTokenService" ref="com.rsmart.oauth.api.OAuthTokenService"></property>
    </bean>

    <bean name="/controller/*.form " class="com.rsmart.oauth.provider.tool.OAuthProviderAdminController">
        <property name="oAuthProviderServiceImpl" ref="providerService"></property>
        <property name="requireSession" value="true"></property>
    </bean>

    <bean id="oAuthTokenProviderController" class="com.rsmart.oauth.token.tool.OAuthTokenProviderController">
        <property name="commandClass" value="com.rsmart.oauth.token.tool.util.OAuthTokenAdminState"/>
        <property name="formView" value="oAuthTokens"></property>
        <property name="successView" value="oAuthTokens"></property>
        <property name="commandName" value="provider"></property>
        <property name="sessionForm" value="true"></property>
        <property name="OAuthTokenService" ref="com.rsmart.oauth.api.OAuthTokenService"></property>
    </bean>

    <bean id="beanNameUrlMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
        <property name="interceptors">
            <list>
                <!-- puts 'sakai_skin' into request as an attribute -->
                <bean class="org.sakaiproject.metaobj.shared.control.SakaiStyleSheetInterceptor">
                    <property name="worksiteManager">
                        <ref bean="org.sakaiproject.metaobj.worksite.mgt.WorksiteManager"/>
                    </property>
                </bean>
                <!-- puts 'locale' into request as an attribute -->
                <bean class="com.rsmart.sakai.common.web.springframework.LocaleHandlerInterceptor">
                    <property name="messageSource" ref="messageSource"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
       <property name="interceptors">
           <list>
               <!-- puts 'sakai_skin' into request as an attribute -->
               <bean class="org.sakaiproject.metaobj.shared.control.SakaiStyleSheetInterceptor">
                   <property name="worksiteManager">
                       <ref bean="org.sakaiproject.metaobj.worksite.mgt.WorksiteManager"/>
                   </property>
               </bean>
               <!-- puts 'locale' into request as an attribute -->
               <bean class="com.rsmart.sakai.common.web.springframework.LocaleHandlerInterceptor">
                   <property name="messageSource" ref="messageSource"/>
               </bean>
            </list>
        </property>
        <property name="mappings">
            <props>
               <prop key="/oAuthTokens.form">oAuthTokenProviderController</prop>
            </props>
        </property>

    </bean>

    <bean id="viewResolver" class="com.rsmart.sakai.common.web.springframework.SakaiInternalResourceViewResolver">
        <property name="viewClass"><value>org.springframework.web.servlet.view.JstlView</value></property>
        <property name="prefix"><value>/WEB-INF/jsp/</value></property>
        <property name="suffix"><value>.jsp</value></property>
    </bean>
</beans>