<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider" 
    	class="com.anisakai.entitybroker.providers.ToolEntityProvider">
        <property name="developerHelperService" ref="org.sakaiproject.entitybroker.DeveloperHelperService"/>
        <property name="reloadableToolManager" ref="org.sakaiproject.tool.api.ToolManager" />
    </bean>

    <bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider" 
    	class="com.anisakai.entitybroker.providers.CacheEntityProvider">
        <property name="developerHelperService" ref="org.sakaiproject.entitybroker.DeveloperHelperService"/>
        <property name="cacheManager" ref="org.sakaiproject.memory.api.MemoryService.cacheManager"/>
    </bean>

    <bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"
          class="com.anisakai.entitybroker.providers.AuthzGroupEntityProvider">
        <property name="authzGroupService" ref="org.sakaiproject.authz.api.AuthzGroupService" />
    </bean>
</beans>
