<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
     <!-- this locale resolver gets the locale set by the sakai preferences tool set using the "language" link -->
     <bean id="localeResolver" class="com.rsmart.sakai.common.web.springframework.SakaiLocaleResolver"/>

     <!-- spring resource bundle.  see page 84 -->
     <!-- this message bundle contains messages specific to the virtual classroom tool -->
      <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
         <property name="basenames">
            <list>
               <value>com.rsmart.virtual_classroom.tool.bundle.messages</value>
               <value>com.rsmart.virtual_classroom.api.bundle.messages</value>
            </list>
         </property>
      </bean>

     <!-- spring method name resolver for multi action controlllers.  see page 303 -->
     <bean id="methodNameResolver" class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
        <property name="paramName"><value>action</value></property>
     </bean>





     <!-- this bean stores information about the sakai skin in http request attributes so that they are available to jsp pages -->
     <bean id="org.springframework.web.servlet.HandlerInterceptor.SakaiStyleSheetInterceptor"
        class="org.sakaiproject.metaobj.shared.control.SakaiStyleSheetInterceptor">
          <property name="worksiteManager"><ref bean="org.sakaiproject.metaobj.worksite.mgt.WorksiteManager"/></property>
     </bean>

     <!-- this bean validates the fields when a user finishes creating or editing a virtual classroom session and submits the form -->
     <bean id="com.rsmart.virtual_classroom.tool.spring.validator.VirtualClassroomSessionGroupValidator"
        class="com.rsmart.virtual_classroom.tool.spring.validator.VirtualClassroomSessionGroupValidator">
          <property name="virtualClassroomService"><ref bean="com.rsmart.virtual_classroom.intf.VirtualClassroomService"/></property>
     </bean>

     <!-- the spring controller class which will handle the viewing of virtual classroom sessions -->
     <bean id="com.rsmart.virtual_classroom.tool.spring.controller.ListVirtualClassroomSessionsController"
        class="com.rsmart.virtual_classroom.tool.spring.controller.ListVirtualClassroomSessionsController">
          <property name="listName"                value="virtual_classroom_session_group_forms"/>
          <property name="successView"             value="list_virtual_classroom_session_groups"/>
          <property name="securityService"        ><ref bean="org.sakaiproject.authz.api.SecurityService" /></property>
          <property name="virtualClassroomService"><ref bean="com.rsmart.virtual_classroom.intf.VirtualClassroomService"/></property>
          <property name="resourceBundle"         ><ref bean="messageSource"                                            /></property>
          <property name="scheduleHelper" ref="com.rsmart.virtual_classroom.util.ScheduleHelper"/>
          <property name="filterNames">
             <list>
                <value>filter_virtual_classroom_sessions_and_recordings</value>
                <value>filter_virtual_classroom_sessions</value>
                <value>filter_virtual_classroom_sessions_current</value>
                <value>filter_virtual_classroom_sessions_future</value>
                <value>filter_virtual_classroom_sessions_past</value>
                <value>filter_virtual_classroom_recordings</value>
             </list>
          </property>
          <property name="enableSorting"    value="true"/>
          <property name="defaultSortCol"   value="subject"/>
          <property name="defaultSortOrder" value="ASC"/>
     </bean>

     <!-- the spring controller class which will handle the editing of virtual classroom sessions -->
     <bean id="com.rsmart.virtual_classroom.tool.spring.controller.EditVirtualClassroomSessionController"
        class="com.rsmart.virtual_classroom.tool.spring.controller.EditVirtualClassroomSessionController">
          <property name="commandClass"            value="com.rsmart.virtual_classroom.tool.spring.form_bean.VirtualClassroomSessionGroupForm"/>
          <property name="commandName"             value="command"/>
          <property name="formView"                value="edit_virtual_classroom_session_group"/>
          <property name="successView"             value="redirect:list_virtual_classroom_session_groups.form"/>
          <property name="validator"               ref="com.rsmart.virtual_classroom.tool.spring.validator.VirtualClassroomSessionGroupValidator"/>
          <property name="virtualClassroomService" ref="com.rsmart.virtual_classroom.intf.VirtualClassroomService"/>
     </bean>

     <!-- see page 279                                                             -->
     <!-- this url mapper tells spring mvc how to map controllers to url requests  -->
     <bean id="spring_mvc_url_mapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
         <property name="interceptors">
             <list>
                <!-- puts 'sakai_skin' into request as an attribute -->
                <ref bean="org.springframework.web.servlet.HandlerInterceptor.SakaiStyleSheetInterceptor"/>
               <!-- puts 'locale' into request as an attribute -->
               <bean class="com.rsmart.sakai.common.web.springframework.LocaleHandlerInterceptor">
                  <property name="messageSource" ref="messageSource"/>
               </bean>
               <!-- puts 'timezone' into request as an attribute -->
               <bean class="com.rsmart.sakai.common.web.springframework.TimezoneHandlerInterceptor">
               </bean>
               <bean class="com.rsmart.virtual_classroom.tool.spring.controller.JoinMeeting">
                  <property name="virtualClassroomService" ref="com.rsmart.virtual_classroom.intf.VirtualClassroomService"/>
               </bean>
             </list>
         </property>
         <property name="mappings">
             <props>
                 <prop key="/list_virtual_classroom_session_groups.form">com.rsmart.virtual_classroom.tool.spring.controller.ListVirtualClassroomSessionsController</prop>
                 <prop key="/edit_virtual_classroom_session_group.form" >com.rsmart.virtual_classroom.tool.spring.controller.EditVirtualClassroomSessionController</prop>
             </props>
         </property>
     </bean>

     <!-- see page 277                                                                                                           -->
     <!-- this view resolver tells spring how to map view names returned from Controllers in ModelAndView objects to a jsp page. -->
     <!-- the name of the jsp page will be given by:                                                                             -->
     <!--    jsp = <prefix><ModelAndView.getView()><suffix>                                                                      -->
     <!--                                                                                                                        -->
     <!-- thus, if a Controller's handleRequest() method returns a ModelAndView object with a view of "success", then the        -->
     <!-- response sent back to the user will be /WEB-INF/jsp/success.jsp                                                        -->
     <bean id="viewResolver" class="com.rsmart.sakai.common.web.springframework.SakaiInternalResourceViewResolver">
         <property name="viewClass"><value>org.springframework.web.servlet.view.JstlView</value></property>
         <property name="prefix"><value>/WEB-INF/jsp/</value></property>
         <property name="suffix"><value>.jsp</value></property>
     </bean>

</beans>
