<?xml version="1.0" encoding="UTF-8"?>

<web-app id="virtual_classroom_webapp" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

   <display-name>virtual classroom tool</display-name>
   <description>Virtual Classroom Tool</description>

    <filter>
        <filter-name>sakai.request</filter-name>
        <filter-class>org.sakaiproject.util.RequestFilter</filter-class>
        <init-param>
            <param-name>upload.enabled</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>sakai.request</filter-name>
        <servlet-name>spring_mvc</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>sakai.request</filter-name>
        <servlet-name>rsmart.forgot_password.tool</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <!-- registers all the tools specified in the xml files from the /tools path         -->
    <listener><listener-class>org.sakaiproject.util.ToolListener</listener-class></listener>

    <!-- loads all the spring xml configuration files for this web app; p. 274                    -->
    <!-- by default, it will load all the files specified in /WEB-INF/applicationContext.xml      -->
    <listener><listener-class>org.sakaiproject.util.SakaiContextLoaderListener</listener-class></listener>

    <!-- central controller servlet for the spring mvc framework; p. 272                          -->
    <!-- the name of this servlet causes spring to look for an xml bean configuration file in the -->
    <!-- /WEB-INF/ directory whose name is given by <servlet-name>-servlet.xml.                   -->
    <!-- /WEB-INF/spring_mvc-servlet.xml                                                          -->
    <servlet>
        <servlet-name>spring_mvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>rsmart.virtual_classroom.tool</servlet-name>
        <servlet-class>com.rsmart.sakai.common.web.springframework.SpringTool</servlet-class>

        <!-- this specifies the initial page that will be returned when a user clicks on the tool from the left hand side of the page. -->
        <!-- since this app uses spring mvc and not jsf, we do not need to specify the path init-param value.  This is because in the  -->
        <!-- spring mvc configuration file, /WEB-INF/spring_mvc-servlet.xml, we declare a view resolver which tells spring where the   -->
        <!-- jsp pages are loaded via the "prefix" property.                                                                           -->
        <init-param>
            <param-name>default_page</param-name>
            <param-value>list_virtual_classroom_session_groups</param-value>
        </init-param>
        <init-param>
            <param-name>path</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>request_extension</param-name>
            <param-value>.form</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>spring_mvc</servlet-name>
        <url-pattern>*.form</url-pattern>
    </servlet-mapping>
</web-app>
