<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="true">
   <bean id="messageSource" class="org.sakaiproject.util.ResourceLoaderMessageSource">
      <property name="basename"><value>com.rsmart.sakai.scorm.web.Messages</value></property>
   </bean>

   <bean id="localeResolver" class="com.rsmart.sakai.common.web.springframework.SakaiLocaleResolver"/>
   <bean id="com.rsmart.scorm.helper.FileUploadController" class="com.rsmart.scorm.helper.FileUploadController">
      <property name="commandClass" value="com.rsmart.scorm.helper.FileUploadBean"/>
      <property name="formView" value="uploadFile"/>
      <property name="successView" value="success"/>
   </bean>

   <bean id="com.rsmart.scorm.helper.LaunchController" class="com.rsmart.scorm.helper.LaunchController"/>

   <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="interceptors">
            <list>
               <!-- puts 'sakai_skin' into request as an attribute -->
               <bean class="org.sakaiproject.metaobj.shared.control.SakaiStyleSheetInterceptor">
                  <property name="worksiteManager">
                     <ref bean="org.sakaiproject.metaobj.worksite.mgt.WorksiteManager"/>
                  </property>
               </bean>
               <!-- puts 'locale' into request as an attribute -->
               <bean class="com.rsmart.sakai.common.web.springframework.LocaleHandlerInterceptor">
                  <property name="messageSource" ref="messageSource"/>
               </bean>
            </list>
        </property>
        <property name="mappings">
            <props>
               <prop key="/launch.form">com.rsmart.scorm.helper.LaunchController</prop>
               <prop key="/uploadFile.form">com.rsmart.scorm.helper.FileUploadController</prop>
            </props>
        </property>
    </bean>

   <bean id="multipartResolver"
           class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
   <!-- one of the properties available; the maximum file size in bytes -->
<!--
       <property name="maxUploadSize">
           <value>1000000</value>
       </property>

       -->
    </bean>
   

    <bean id="viewResolver" class="com.rsmart.sakai.common.web.springframework.SakaiInternalResourceViewResolver">
        <property name="viewClass"><value>org.springframework.web.servlet.view.JstlView</value></property>
        <property name="prefix"><value>/WEB-INF/jsp/</value></property>
        <property name="suffix"><value>.jsp</value></property>
    </bean>

</beans>