<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2011 The rSmart Group
  ~
  ~ The contents of this file are subject to the Mozilla Public License
  ~ Version 1.1 (the "License"); you may not use this file except in
  ~ compliance with the License. You may obtain a copy of the License at
  ~ http://www.mozilla.org/MPL/
  ~
  ~ Software distributed under the License is distributed on an "AS IS"
  ~ basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing rights and limitations
  ~ under the License.
  ~
  ~ Contributor(s): duffy
  -->

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="true">
   <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
      <property name="basename"><value>com.rsmart.content.google.helper.Messages</value></property>
   </bean>

   <bean id="localeResolver" class="com.rsmart.sakai.common.web.springframework.SakaiLocaleResolver"/>

    <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
    <!--bean id="exceptionResolver" class="com.rsmart.content.google.helper.GoogleDocumentHelperErrorController"-->
        <property name="exceptionMappings">
            <props>
                <prop key="com.rsmart.content.google.api.GoogleDocsServiceNotConfiguredException">error/notConfigured</prop>
                <prop key="com.rsmart.content.google.api.GoogleOAuthTokenNotFoundException">error/noToken</prop>
                <prop key="com.rsmart.content.google.api.GoogleOAuthConfigurationException">error/oAuthConfig</prop>
                <prop key="com.rsmart.content.google.api.GoogleServiceException">error/noGoogle</prop>
                <prop key="com.rsmart.content.google.api.GoogleDocumentMissingException">error/noDocument</prop>
                <prop key="com.rsmart.content.google.api.GoogleDocsException">error/unhandled</prop>
            </props>
        </property>
    </bean>

  <bean id="errorController"
        class="org.springframework.web.servlet.mvc.UrlFilenameViewController"/>

   <bean id="com.rsmart.content.google.helper.GoogleDocumentLinkController"
         class="com.rsmart.content.google.helper.GoogleDocumentLinkController">
       <property name="worksiteManager" ref="org.sakaiproject.metaobj.worksite.mgt.WorksiteManager"/>
       <property name="googleDocsService" ref="com.rsmart.content.google.api.GoogleDocsService"/>
       <property name="contentHostingService" ref="org.sakaiproject.content.api.ContentHostingService"/>
       <property name="oauthCallbackPath" value="/oauth"/>
       <property name="commandClass" value="com.rsmart.content.google.helper.CommandBean"/>
       <property name="defaultNotification" value="0" />
   </bean>

   <bean id="com.rsmart.content.google.edit.GoogleEditController"
          class="com.rsmart.content.google.edit.GoogleEditController">
       <property name="toolManager" ref="org.sakaiproject.tool.api.ToolManager"/>
       <property name="sessionManager" ref="org.sakaiproject.tool.api.SessionManager"/>
       <property name="googleDocsService" ref="com.rsmart.content.google.api.GoogleDocsService"/>
   </bean>

   <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="interceptors">
            <list>
               <!-- puts 'locale' into request as an attribute -->
               <bean class="com.rsmart.sakai.common.web.springframework.LocaleHandlerInterceptor">
                  <property name="messageSource" ref="messageSource"/>
               </bean>
            </list>
        </property>
        <property name="mappings">
            <props>
               <prop key="/selectFile.form">com.rsmart.content.google.helper.GoogleDocumentLinkController</prop>
               <prop key="/authenticate.form">com.rsmart.content.google.helper.GoogleDocumentLinkController</prop>
               <prop key="/finishLink.form">com.rsmart.content.google.helper.GoogleDocumentLinkController</prop>
               <prop key="/editProperties.form">com.rsmart.content.google.helper.GoogleDocumentLinkController</prop>
               <prop key="/noToken.form">errorController</prop>
               <prop key="/editInGoogle.form">com.rsmart.content.google.edit.GoogleEditController</prop>
            </props>
        </property>
    </bean>

    <bean id="viewResolver" class="com.rsmart.sakai.common.web.springframework.SakaiInternalResourceViewResolver">
        <property name="viewClass"><value>org.springframework.web.servlet.view.JstlView</value></property>
        <property name="prefix"><value>/WEB-INF/jsp/</value></property>
        <property name="suffix"><value>.jsp</value></property>
    </bean>

</beans>